
@model WorkRequest
@{

    Layout = "_Layout";
    ViewBag.Title = "Создание Заявки";
}

<div class="m-1 p-2">
    <div class="container">
        <h4 class="text-center">Create New WorkRequest</h4>
        <div class="card card-body">
            <form asp-action="CreateWorkRequest" method="post">
                <input asp-for="@Model.Id" type="hidden" />
                <div class="form-group">
                    <label asp-for="@Model.RequestMessage">RequestMessage</label>
                    <textarea asp-for="@Model.RequestMessage" class="form-control" placeholder="Enter Text Message"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Create New</button>
                    <a action="List" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>