
/*Classess for WorkRequest Svg tag*/

.fill-danger {
    fill: #dc3545 !important;
}

.fill-warning {
    fill: #ffc107 !important;
}

.fill-info {
    fill: #17a2b8 !important;
}

.fill-success {
    fill: #28a745 !important;
}

.fill-secondary {
    fill: #6c757d !important;
}

.bg-linear-blue {
    background-color: #809cec;
    background-image: linear-gradient(135deg, #809cec 0%, #242b83 100%);
}

.bg-liner-white-blue {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

