
@model UserWorkRequestViewModel

@{
    ViewBag.Title = "Список заявок";
}

<div class="m-1 p-2">
    @* User Card Section *@
    <div class="media text-white m-3 p-3  bg-linear-blue rounded shadow-sm">
        <svg height="100" width="100" preserveAspectRatio="xMidYMid slice"
             focusable="false" role="img">
            <title>User Icon</title>
            <circle cx="50" cy="50" r="30" fill="white" />
        </svg>
        <div class=" p-2 mr-5 mb-0 small lh-125 ">
            <h5 class="d-block pt-2 ">FIO: @Model.User.UserFIO</h5>
            <strong class="d-block ">Role: @Model.User.Role.ToString()</strong>
            <strong class="d-block ">Phone: @Model.User.Phone</strong>
        </div>

        <div class="col h-100 pt-3 border-left border-white">
            @*<h5 class="text-center">Список Заявок</h5>*@
            <h5 class="text-center">WorkRequest Lists</h5>
            <div class="row pt-3 ">
                <div class="col text-center">
                    <h6 class="btn btn-outline-light mr-2 "> All </h6>

                    <h6 class="btn btn-outline-light mr-2 ">Created <span class="badge badge-light">15</span> </h6>

                    <h6 class="btn btn-outline-light mr-2 ">In Progress <span class="badge badge-light">5</span> </h6>

                    <h6 class="btn btn-outline-light mr-2 "> Done </h6>
                </div>
            </div>
        </div>
    </div>

    @* Pages Section *@
    @if (Model.WorkRequests.TotalPages > 0)
    {
        <div class="text-center">
            <partial name="_Pages" model="Model.WorkRequests" />
        </div>
    }

    @* WorkRequest Section *@
    <div class="m-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Текущие Заявки</h6>
        @if (Model.WorkRequests.Count() == 0)
        {
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class=" text-center mt-3 p-3">
                    <h6> Сейчас у вас нет заявок для выполнения</h6>
                </div>
            </div>
        }
        else
        {
            @foreach (WorkRequest wrItem in Model.WorkRequests) {
                <partial name="_WorkRequestExecutor" model="wrItem" />
            }
        }

    </div>

</div>
