
@model UserWorkRequestViewModel

@{
    ViewBag.Title = "Список заявок";
}

<div class="m-1 p-2">
    @* User Card Section *@
    <vc:executor-card user-model="@Model.User">

    </vc:executor-card>

    @* Pages Section *@
    @if (Model.WorkRequests.TotalPages > 0)
    {
        <div class="text-center">
            <partial name="_Pages" model="Model.WorkRequests" />
        </div>
    }

    @* WorkRequest Section *@
    <div class="m-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Текущие Заявки</h6>
        @if (Model.WorkRequests.Count() == 0)
        {
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class=" text-center mt-3 p-3">
                    <h6> Сейчас у вас нет заявок для выполнения</h6>
                </div>
            </div>
        }
        else
        {
            @foreach (WorkRequest wrItem in Model.WorkRequests)
            {
                <partial name="_WorkRequestExecutor" model="wrItem" />
            }
        }

    </div>

</div>
